[Unit]
Description=svcdns container
After=svcmqtt.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a dns.ncc9.com
ExecStop=/usr/bin/docker stop -t 2 dns.ncc9.com

[Install]
WantedBy=multi-user.target

